body {
  background-color: #2C3844;
  margin: 0;
}
#display {
  background-color: black;
  display: block;
  margin: auto;
  padding: 0;
  margin-top: 0;
}
#minimap {
  position: absolute;
  top: 0;
  right: calc(50% - 256px - 128px - 2em);
  margin-top: 2em;
  background-color: black;
  border-radius: 5em;
  border: 3px solid #FF4200;
}
#bg {
  display: none;
}
#status {
  font-family: Monospace;
}
#seperator,#x,#y {
  position: absolute;
  background-color: #C7CBD1;
  color: #2C3844;
}
#seperator {
  top: calc(128px + 4em);
  left: calc(50% + 256px + 2em);
  text-align: center;
  width: 128px;
}
#x {
  top: calc(128px + 4em);
  left: calc(50% + 256px + 2em);
  width: calc(64px - 0.3em);
  text-align: right;
}
#y {
  top: calc(128px + 4em);
  left: calc(50% + 256px + 2em + 64px + 0.3em);
  width: calc(64px - 0.3em);
  text-align: left;
}
#inventory {
  position: absolute;
  left: calc(50% - 256px - 6.5em - 2em);
  top: 0;
  width: 6.5em;
  
  padding: 0;
  list-style-type: none;
  height: 15em;
}
#inventory li:first-child, #quest li:first-child {
  border-top: 4px solid #2C3844;
}
#inventory::before {
  content: "INVENTORY";
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
}

#inventory li, #quest li {
  border-bottom: 4px solid #2C3844;
  width: 100%;
  text-transform: uppercase;
  height: 3em;
  line-height: 3em;
}
#quest {
  position: absolute;
  left: calc(50% + 256px + 2em);
  top: calc(128px + 6em);
  width: 6.5em;
  
  padding: 0;
  list-style-type: none;
  height: 15em;
}
#quest, #inventory {
  background-color: #C7CBD1;
  color: #2C3844;
  border-radius: 1em;
  padding-top: 0.5em;
}
#quest::before {
  content: "QUEST";
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
}

#startingPlanet {
  position: absolute;
  left: calc(50% - 5em);
  top: 256px;
  width: 10em;
}
#startingPlanet::before {
  content: "Name your homeworld: ";
  color: white;
}